*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.menu
{
    background-color: rgba(0, 110, 253, 0.568);
    position: fixed;
    width: 100%;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
}
.menu ul
{
    list-style: none;
    display: inline-flex;
}
.menu ul li
{
    width: 150px;
    margin: 15px;
    padding: 15px;
}
.menu ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: arial;
}
.fa
{
    margin-right: 5px;

}
.menu ul li:hover, .active
{
    background-color: rgba(0, 110, 253, 0.568);
    border-radius: 10px;
}
.drop1
{
    display: none;
    position: fixed;
}
.menu ul li:hover .drop1
{
    display: block;
    position: absolute;
    background-color: rgba(0, 110, 253, 0.568);
    margin-top: 15px;
    margin-left: -30px;
}
.menu ul li:hover .drop1 ul
{
    display: block;
}
.menu ul li:hover .drop1 ul li
{
    background: transparent;
    border-bottom: 1px solid rgb(165, 22, 22);
    border-radius: 0px;
}
.menu ul li:hover .drop1 ul li a:hover
{
    color: rgb(165, 22, 22);
}
.drop2
{
    display: none;
    position: fixed;
}
.menu ul li:hover .drop2
{
    display: block;
    position: absolute;
    background-color: rgba(0, 110, 253, 0.568);
    margin-top: 15px;
    margin-left: -30px;
}
.menu ul li:hover .drop2 ul
{
    display: block;
}
.menu ul li:hover .drop2 ul li
{
    background: transparent;
    border-bottom: 1px solid rgb(165, 22, 22);
    border-radius: 0px;
}
.menu ul li:hover .drop2 ul li a:hover
{
    color: rgb(165, 22, 22);
}

.banner
        {
            
            background-image: url('./images/main\ screen.jpg');
            height: 100vh;
            width: auto;
            margin: 5px;
            border: 2px solid rgb(255, 255, 255);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            line-height: 40vh;
        }
        .circle
        {
            display: inline-flex;
            width: 100%;
        }
        .circle1
        {
            background-image: url(./images/user1.png);
            width: 280px; 
            height: 280px;
            margin: 20px;
            margin-left: 45px;
            padding: 20px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .circle2
        {
            background-image: url(./images/user2.jpg);
            width: 280px; 
            height: 280px;
            margin: 20px;
            padding: 20px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;        
        }
        .circle3
        {
            background-image: url(./images/user3.png);
            width: 280px; 
            height: 280px;
            margin: 20px;
            padding: 20px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;        
        }
        .circle4
        {
            background-image: url(./images/user4.png);
            width: 280px; 
            height: 280px;
            margin: 20px;
            padding: 20px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;        
        }
        .section-2
        {
            height: 100vh;
            width: 100%;
            display: inline-flex;
        }
        .l1
        {
            height: 100vh;
            width: 650px;
            margin: 5px;
            margin-left: 15px;
            border: 2px solid white;
            background-color: rgb(124, 124, 255);
        }
        .r1
        {
            height: 33.3vh;
            width: 650px;
            margin: 5px;
            border: 2px solid white;
            background-image: url(./images/project-1.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .r2
        {
            height: 33.3vh;
            width: 650px;
            margin: 5px;
            border: 2px solid white;
            background-image: url(./images/project-2.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .r3
        {
            height: 32vh;
            width: 650px;
            margin: 5px;
            border: 2px solid white;
            background-image: url(./images/project-3.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .box
        {
            display: inline-flex;
            width: 100%;
        }
        .boxes
            {
               display: inline-flex;
               width: 285px; 
               height: 400px;
               overflow: hidden;
               border: 2px solid white;
               margin-bottom: 10px;
               text-align: center;
               padding: 20px;
               margin: 24px;

            }
            #b1{
                background-color: rgb(165, 22, 22);;
            }
            #b2{
                background-color: rgb(165, 22, 22);;
            }
            #b3{
                background-color: rgb(165, 22, 22);;
            }
            #b4{
                background-color: rgb(165, 22, 22);;
            }

            .boxes img
            {
                text-align: justify;
                width: 245px;
                height: 100px;
                border-radius: 20px;
            }
        .footer
        {
            background-color: black;
            height: 85px;
            width: auto;
            margin: 5px;
            border: 2px solid black;
            text-align: center;
            line-height: 85px;
        }